
.sign-in {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.wrapper form,
.wrapper > div {
  xwidth: 100%;
}
.wrapper>article{
  align-self: flex-start;
  margin:0 auto ;
  width: 100%;
}
.signInHelp h2 {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-weight: normal;
  font-size: 1em;
}

button,
.signInHelp,
.signInInput {
  margin: 1em;
}
.signInInput {
  height: 2em;
  padding: 0 2em;
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
#rememberMeCheckbox{
  margin: 0;
  margin-left:0.5rem;
}
