
.wrapper{
    width:90%;
}
article{
    background-color: rgba(87, 79, 95,0.2);
   
}
.best{
    color: rgb(166, 226, 69);
}
.worst{
    color: rgb(158, 20, 20);
}
span.note{
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    color: silver;
    font-weight: lighter;
}
