<div id="wrapper" class="wrapper">
  <h1>{{title}}</h1>
  <article>
    <h3 class="worst">Jugando a ser médicos y psiquiatras</h3>
    <span class="note">(Umi, Amida, Ragnar, Bann, Eitanit, Regist, Nozomi)</span>
    <p>
      Nozomi se convirtió en una zorra de nueve colas embrujada con una pecera (que no duró mucho) después de haber
      vuelto loco
      al grupo de desconocidos que trataba de hacer su primera misión en conjunto. Lamentablemente la suerte de todos no
      ayudó a combatir a aquél ser que era poderoso de por sí y por eso fue que cayeron Ragnar y Amida además de herir
      gravemente
      a Eitanit y esquivar gran parte de los ataques de los aliados dejando al grupo sin fuerzas a todos. Por suerte
      Nozomi
      también estaba cansada, y habiendo cumplido su cometido se retira a recuperar sus energías con lo que Umi es capaz
      de auxiliar a Amida eficazmente como un bisturí y abriendo una herida sin querer que riega su cara de sangre
      mientras
      Eitanit no tiene fuerzas cuando trata de salvar a Ragnar. Suerte que Bann estaba allí con un temple de acero para
      socorrer
      a los heridos más graves y estabilizarlos a todos.
    </p>
  </article>
  <article>
    <h3 class="worst">Lo esquivo todo y le doy a "eso"</h3>
    <span class="note">(Ragnar, Robinette, Gwendoline)</span>
    <p>
      Ragnar miraba incrédulo las futuras patatas de Mirielle en la cueva custodiada por las chicas de Heather Dunes
      cuando una
      de las guardianas de la entrada, Robinette, cargaba contra el intruso sin ningún miedo. Al oir el ruido Ragnar
      carga
      contra Robinette de forma audaz demostrando su valía y temeridad al ignorar los ruegos de Robinette quién decidió
      cesar
      su ataque al ver a Gwendoline junto al bravo guerrero. — ¡Para, para! —dijo la pequeña, y al ver que no se detenía
      le lanzó la pala con intención de interrumpir la carga. Ragnar saltó la pala, pese a que iba lo bastante alta como
      para que fuera un acto que qualquier persona no podría lograr...pero su pié fue directo a una piedra al caer, que
      no
      había visto por culpa de la pala y que al pisar mal hace que se tuerce el pié hacia el costado dejando a Ragnar
      suspendido
      en el aire sin ningún apoyo (Hasta que cayó al suelo dejando que Gwendoline negociase la paz por tercera vez en el
      día)
    </p>
  </article>
  <article>
    <h3 class="best">Ninja Padel</h3>
    <span class="note">(Vera, Eitanit, Evie, Sasika)</span>
    <p>
      Dejando de lado a la estrella que dió presentación al combate, fueron grandes las actuaciones de los jugadores
      durante la
      partida del día 6 que a pesar de ser muy corta tuvo muchos 20. En primer lugar y aunque es enemiga, Vera hizo lo
      que
      todo malvado acostumbra a hacer: darle su merecido a Yui Simons quién es de los personajes de la partida que
      recibe
      más leña (roca en éste caso) en las cotidianidades de la vida de un aspirante a Verion; Eitanit se lució como
      elementalista
      haciendo un poderoso básico armada con dos espadas que dieron que pensar sobre su estrategia y estado de forma;
      Los
      de Scarlet Winds nunca defraudan y Evie no fue para menos dejando pegados al suelo a "La mole", sus hallegados y
      los
      abelienses por igual. Pero Bouziki no esquivó nada más; Y en ultimo lugar Sasika, que esquivó un ataque casi
      perfecto
      de Shion (18+Crítico) que nadie esperaba que pudiera esquivar nadie, incluso si se trataba de Sasika. Ragnar podrá
      continuar regodeándose de su buena suerte.
    </p>
  </article>
  <article>
    <h3 class="worst">Bufet libre</h3>
    <span class="note">(Bann, Sasika, Eitanit)</span>
    <p>
      Bann se levantó del suelo después del parón semanal, estaba motivado y pese a que sus compañeras de equipo estaban
      en mala
      posición un brillo de esperanza resplandecía en sus ojos mientras se terminaba de incorporar y emprendía su marcha
      a grandes zancadas por el campo de batalla que quedaría grabado en su cara una vez se estrellase escandalosamente
      en
      frente de "La mole", justo al lado de Sasika. ¡Pock! Bann recivía un golpe de Sasika que lo atizaba con la vaina
      de
      la espada escandalizada — ¿¡Quieres dejar de hacer el ridículo cerca nuestro!? —Parece que a Sasika le importase
      más
      que vieran por la tele que su grupo fracasase en lugar de la situación en la que se encontraBann.
    </p>
  </article>
  <article>
    <h3 class="worst">La confianza da asco </h3>
    <span class="note">(Bann, Sasika)</span>
    <p>
      Bann lleva días ideando planes, sabe que algo debe cambiar. Desde que se ha hecho cargo de la recuperación de
      Blanca junto
      a su compañera Eitanit, ha logrado ganarse poco a poco parte de la confianza de Sasika. Pese a no confiar del
      todo,
      tuvo un rayo de esperanza cuando escuchó que Bann volvería para protegerla una vez que fue lanzada por éste en
      frente
      de Bouzuki A.K.A "La mole", lo que no sabía es que el roll dice iba a ser un 1 y no recibiría esa ayuda hasta que
      Bann
      se levantase del suelo al cabo de una semana.
    </p>
  </article>
  <article>
    <h3 class="best">La gran huida de Bann </h3>
    <span class="note">(Bann, Ragnar)</span>
    <p>
      Tirada milagrosa por parte del siniestro compañero de Ragnar que sin dudarlo huye de la escena mientras una manada
      de ninjas
      acribillan a su compañero a palazos. ¿Qué habrá sido de Ragnar? Si sobrevive... ¿Qué pasará cuando se encuentren?
    </p>
  </article>
  <article>
    <h3 class="best">Hasta los emperadores sangran</h3>
    <span class="note">(Ragnar, Sasika)</span>
    <p>
      Día a día Sasika ha ido recolectando odio por allá donde pasaba sirviéndose de sus artimañas desconocidas sin que
      nadie pudiera
      remediarlo ni hacer nada. Ragnar no ha conseguido que "Herio-sama" deje de dormirse como un bebé y él mismo ha
      pasado
      por los efectos de Hipnos y Morfeo, pero es el único que ha conseguido herirla.
    </p>
  </article>
  <article>
    <h3 class="worst">Caída a peso pluma</h3>
    <span class="note">(Ragnar, Sasika)</span>
    <p>
      Ragnar puede ser muy silencioso en el bosque, pero en los claros no. Como si se tratara de una pluma se tiró al
      suelo tal
      cual abandonó la maleza y entró al claro mientras intentaba acechar a Sasika. Sólo Ragnar sabe con qué cara lo
      miró
      la hechicera, pues él acaparó todas las cámaras.
    </p>
  </article>
  <article>
    <h3 class="worst">El collejón efectivo</h3>
    <span class="note">(Ragnar, Dereck)</span>
    <p>
      A veces un martillazo no es suficiente para poner orden en la sala, la "cleca" de dereck si lo fue, y el
      protagonismo de
      Ragnar se disparó en las redes sociales creando memes sobre Haemi, Dereck y Ragnar.
    </p>
  </article>
  <article>
    <h3 class="worst">Organización: Dispersémonos, yo a la derecha y tu a la derecha también</h3>
    <span class="note">(Eitanit, Gwendoline, Thomas E.Gregersen, Sharyan)</span>
    <p>
      Durante los entrenos elementales organizados por el profesor Thomas E.Gregersen, Eitanit trataba de transmitir el
      poder de
      fuego exacto que hacía falta para sincronizarse con su elemento. Si salía mal invocaría un pequeño elemental que
      tendría
      que derrotar. Bien, puede que no fuera tan pequeño... Finalmente Gwendoline tuvo que intervenir pues Eitanit
      transmitió
      tanto poder a la roca que se convirtió la cueva en un volcán donde sólo cabía el ser de magma.
    </p>
  </article>
  <article>
    <h3 class="best">Intervención de Isembard</h3>
    <span class="note">(Eitanit, Gwendoline, Azalea)</span>
    <p>
      Acababa de oírlo y tuvo que comprobarlo: Eitanit se vió envuelta en una manada de jabalies feroces durante la
      prueba de cocina,
      y no iban a darle un respiro para lanzar una bola de fuego que no fuese directa a un árbol lejano. Gwendoline fue
      muy
      oportunista observando desde arriba del valle y congelandolo todo excepto la elementalista de fuego. Azalea
      también
      lo fue, cuando se trataba de salvar la vida de los inocentes que no fueran a ser utilizados para la degustación de
      los jueces.
    </p>
  </article>
  <article>
    <h3 class="best">Más vale fuerza y maña que tan solo maña</h3>
    <span class="note">(Ragnar)</span>
    <p>
      La suerte de Ragnar logra cambiar después de perder el apoyo de Eitanit, ser olvidado por su compañero Bann y
      dormir como
      un tronco gran parte de la prueba perdiendo parte de sus setas por culpa de los Abelienses. Sin tiempo y gracias a
      un movimiento fenomenal consigue derribar a un Jabalí de un corte profundo en su punto débil. Ragnar empezó así a
      ganar
      interesados durante las pruebas Professian.
    </p>
  </article>
  <article>
    <h3 class="best">Saber es poder</h3>
    <span class="note">(Eitanit, Ragnar, Gwendoline)</span>
    <p>
      ¿Quién le hubiera dicho a Eitanit que justo depsués de saber que Ragnar odia a los elfos se encontraría con la
      única Elfa
      que existe en éste mundo? Conocer aquello pudo evitar el enfrentamiento entre Ragnar y Gwendoline, quién estaba
      dispuesta
      a pedirle ayuda para encontrar un jabalí durante las pruebas de cocina.
    </p>
  </article>



</div>