<div id="wrapper" class="wrapper">
  <h1>{{title}}</h1>
  <article>
    <h3>Actualización de contenido 2021 - Careers</h3>
    <span class="note">(Lore - 13/02/2021)</span>
    <p>
      Se ha empezado a actualizar contenido del apartado Careers.
      <br>Para más información visita
      <a href="https://www.airana.net/lore/careers">
        <span class="pink">airana.net/lore/careers</span>
      </a>
  </article>
  <article>
    <h3>Nuevo día de rol semanal</h3>
    <span class="note">(09/10/2017)</span>
    <p>
      Por decisión unánime, el nuevo día de rol semanal serán los sábados después de medianoche a la 1:00
      aproximadamente. Venid
      lo más preparados posible.
  </article>
  <article>
    <h3>Removemos los submenús provisionales</h3>
    <span class="note">(Patch Notes - 05/10/2017)</span>
    <p>
      La web crece y por tanto ya carece de sentido mantener los menús que no llevan a ningún sitio operativo. Es por
      eso que se
      han quitado esos menús para que vayáis donde vayáis podáis ver algo más que un título.
      <br>Para más información visita
      <a href="https://www.airana.net/news/patch-notes">
        <span class="pink">airana.net/news/patch-notes</span>
      </a>
  </article>
  <article>
    <h3>Lore empieza a tener contenido</h3>
    <span class="note">(Histories - 05/10/2017)</span>
    <p>
      El apartado Lore empieza a tener más funcionalidad con el subapartado "Histories" operativo. En él podréis
      encontrar información
      del mundo que os rodea y algunas de las hazañas destacables que ocurren en el mundo más allá de la historia de
      vuestros
      propios personajes.
      <br>Para más información visita
      <a href="https://www.airana.net/lore/histories">
        <span class="pink">airana.net/lore/histories</span>
      </a>
  </article>
  <article>
    <h3>Airana fuera de casa</h3>
    <span class="note">(Patch Notes)</span>
    <p>
      Lanzamiento de la página en su versión compatible con Android y iPhone para garantizar la accesibilidad de la web
      estéis
      donde estéis. Además se han arreglado diversos errores de interfaz.
      <br>Para más información visita
      <a href="https://www.airana.net/news/patch-notes">
        <span class="pink">airana.net/news/most-recent</span>
      </a>
  </article>
  <article>
    <h3>Evento semanal los Viernes</h3>
    <span class="note">(Horario)</span>
    <p>
      Los viernes noche a partir de las 00:00 (Hora peninsular) tendrán sesiones de Airana en mesa, música y muchos " 1
      ".
      <br> Recordad que si necesitáis un cambio de día podéis hacerlo por el grupo de Whatsapp y si queréis proponer
      cambiar
      el día del evento semanal sois libres de hacerlo.
    </p>
  </article>
  <article>
    <h3>La web arranca</h3>
    <span class="note">(Patch Notes)</span>
    <p>
      He comenzado a hacer funcionar los apartados de la web. Poco a poco espero ir añadiendo más y mejor, pero la web
      ya tiene
      alguna utilidad más que almacenar fichas.
    </p>
    <p>Añadidos elementos en:</p>
    <ul>
      <li>News/Best and Worst Rolls
        <span class="note">(BWR)</span>
      </li>
      <li>News/Most Recent</li>
      <li>News/Patch Notes</li>
      <li>Lore/Verion Classes
        <span class="note">En construcción.</span>
      </li>
      <li>Botones no operativos en el menú de cuentas
        <span class="note">En construcción.</span>
      </li>
    </ul>
  </article>